body {
  font-family: sans-serif;
}

input {
  border-radius: 12px;
  border: none;
  outline: none;
  padding: 6px 16px;
}

button {
  border-radius: 16px;
  border: none;
  padding: 2px 16px;
  margin-right: 4px;
}

button:hover {
  background-color: #6555ef;
  color: #fff;
  cursor: pointer;
}

li {
  margin-right: 12px;
}

.input-area {
  background-color: #c1feff;
  width: 400px;
  height: 30px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.incomplete-area {
  background-color: #bff9da;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.complete-area {
  background-color: #fffadd;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: bold;
  color: #766;
}

.list-row {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}
